<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
        img{
          margin-bottom: 0px;
          Padding: 0px,10px,10px,10px; 
        }
        .a{
          text-align: center;
        }

</style>
<body>
  {% include "insurance/navbar.html" %}
<br>

<p class="text-center">
  <img src="https://media.istockphoto.com/photos/insurance-protecting-family-health-live-house-and-car-concept-picture-id1199060494?k=20&m=1199060494&s=612x612&w=0&h=Jw_XYEFO42jcs4aBFdbiEnPPNODyYjvQCpcrmXnCazM=" height ="720px" width="1080px"  style="margin-top: 0px;"></img><br></p>
  <p class="a">“Whole life does two things for you: Protects your family and allows you to save for your future."   - Dinara
</p>

</body>
</html>
